<ion-header>
  <ion-toolbar>
    <ion-title>Pokemon Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-container">
    <div class="pokemon-card" *ngFor="let pokemon of pokemonList">
      <img [src]="pokemon.image" alt="{{ pokemon.name }}" class="pokemon-img">
      <h2>{{ pokemon.name | titlecase }}</h2>
      <p><strong>Height:</strong> {{ pokemon.height }}</p>
      <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
      <p><strong>Types:</strong></p>
      <div class="types">
        <span *ngFor="let type of pokemon.types" class="type">{{ type }}</span>
      </div>
    </div>
  </div>
</ion-content>
